*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

/* Header */
.header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:15px 30px;
    background-color:white;
    color:black;
    z-index:1000;
    position:sticky;
    top:0;
    height:100px;
}
.logo-box{
    width:120px;
}
.logo-img{
    width:100%;
    height:auto;
    /* display:flex; */
    /* font-size:22px; */
    /* font-weight:bold; */
}
#carouselExample{
  width:100%;
}
.menu{
    width:35%;
    display:flex;
    gap:25px;
    font-weight:bold;
    color:#777;
    
}

.search{
    width:30%;
    border-radius:20px;
}

.search input{
    width:100%;
    padding:8px 12px;
}

.icons{
    width:20%;
    display:flex;
    align-items: center;
    justify-content:center;
    font-size: 12px;;
    font-weight: bold;
    gap:20px;
    /* height: 100px;; */
}
.icons>span{
    font-size: 15px;
}


/* Main Layout */
.main{
    display:flex;
    min-height:calc(100vh - 120px);
}

/* Sidebar */
/* .sidebar{
    width:20%;
    background-color:#f5f5f5;
    display:flex;
    flex-direction:column;
    padding:10px;
} */
/* 
.tab{
    padding:15px;
    border-bottom:1px solid #ccc;
    cursor:pointer;
}

.tab:hover{
    background-color:#ddd;
} */

/* Content */
.content{
    width:100%;
    /* display:flex; */
    /* align-items:center; */
    /* justify-content:center; */
    font-size:22px;
}

/* Footer */
.footer{
    background-color:white;
    color:black;
    text-align:center;
    padding:100px;
}

.box{
height:400px;
width:100%;
/* background-color: red; */
margin-top:20px;
/* background-color: yellow; */
/* margin-top:20px; */
margin-bottom:20px;
display:flex;
}
#written{
    /* margin-top:200px; */
    font-size:30px;
    margin-left:60px;
    height:200px;
    display:flex;
    /* flex-direction:row */
    align-items: flex-end;
    font-weight:bold;
    margin-bottom:90px;
    /* text-align:center; */
}
#card{
    display:flex;
    /* display:inline-block */
    /* gap:20px; */
}
.card{
    /* display: flex; */
}
.carousel-wrapper{
  width:100%;
  height:500px;
  display:block;
  display: block;
}
.carousel-item{
    width:100%;
    height:400px;
    display:block;
}
#coupan{
    display:flex;
    align-items: center;
    margin:20px auto;
    height:350px;
    width:100vw;
    justify-content: center;
    flex-direction:column;
    display:block;
    margin-bottom:350px;

}
#coupan img{
    width:100%;
    height:100%;
}
img{
    height: 100%;
    width:100%;
}
#written2{
      font-size:30px;
    margin-left:50px;
    height:100px;
     align-items: center;
    font-weight:bold;
    margin-top:70px;
    margin-bottom: 10px;;
}

#box2{
    display:flex;
   flex-wrap:wrap;
   justify-content: space-evenly;
}
#box2 img{
    height:400px;
    width:300px;
    gap:20px;
}
.footer{
    width:100%;
    height:600px;
}
.footer-column{
    /* padding:0; */
    margin:0;
    margin-bottom:0;
    margin-bottom:30px;
     font-display: flex;
     justify-content: flex-start;
     height:200px;

}
.footer-column p{
    margin:0;
    opacity:0.6;
}

.footerSidepart{
    margin-bottom:40px;
    /* padding:0px; */
    text-align:left;
      justify-content: flex-start;
      margin-left:20px;
     
      
   
}
.footerSidepart h6{
    font-weight: bold;
    opacity: 0.8;
    
}
.footer{
    /* background-color: #f2efef; */
    /* padding-left /:200px; */
    /* padding-right:200px; */
    text-align:left;
    /* margin-left:200px; */
    display:flex;
    justify-content:center;
  
}
.main-foot{
    display:flex;
    padding:0px 0px 0px 0;
    justify-content:space-between;
    display:float;
    height:800px;
    width:1000px;
    /* padding-left:200px; */
    /* padding-right:200px; */

}
.end{
    text-align:center;
    font-weight: bold;
    opacity: 0.8;
}
.firstline{
    font-weight: bold;
}
.imgfoot {
    display:flex;

height:40px;
width:150px;
margin-top:50px;
margin-left:20px;
margin-right:200px;
margin-bottom:40px;

}
.icon img{
    height:50px;
    width:50px;
}
.iconfoot img{
    height:50px;
    width:50px;
}
.lastpart h6{
    display:flex;
    /* justify-content:center; */
    font-weight: 700;
    width:800px;
    margin-top:50px;
    /* height:  */
}
.lastpart{
    /* display:flex; */
    margin-left:480px;
    
}
.contentfoot{
display:flex;
width:800px;
font-size:medium;
opacity: 0.8;
justify-content: center; 
}